<section>
    <app-card
        headerText="SmartApp"
        subHeader="https://smartleiloes.app"
        imgSrc="../../../../assets/smart-app-home.png"
        [imgCarouselUrls]="
            [
                '../../../../assets/smart-app-home.png',
                '../../../../assets/smart-app-home.png',
                '../../../../assets/smart-app-home.png'
            ]
        "
    >
        <div>
            SmartApp is an app that aims to provide tools to help brazilian real state investors
            participate in real state auctions with the required knowledge to make good decisions.
            Some of its main features includes a personalized real state investment calculator,
            access to compiled data on the main real state auction opportunities in Brazil, management
            of real state you're interested in and notifications for opportunities over the areas
            you're interested in. 
        </div>
    </app-card>
</section>
