<section class="bg-slate-100">
    <div 
        class="
            grid grid-cols-1
            md:grid-cols-5
            lg:grid-cols-7
        "
    >
        <figure 
            class="
                col-span-1
                md:col-span-2
                lg:col-span-2
                place-self-center
                border border-black
                text-center
            "
        >
            <img 
                class="rounded-full border-2 border-black"
                src="../../../assets/_MG_0073.jpg"
            />
            <address>
                <p class="text-xl font-bold">
                    Carlos Chaves
                </p>
                <p class="text-xl">
                    Software Engineer
                </p>
                <p>
                    <a href="mailto:carloschavesgui@gmail.com">
                        carloschavesgui@gmail.com
                    </a>
                </p>
            </address>
        </figure>
        
    </div>
</section>
