<div class="w-full inline-block h-60 border border-black">
    <div class="w-full h-full relative">
        <div class="relative flex flex-row justify-center">
            <img 
                class="h-60 object-contain" 
                [src]="imgUrls[currentImgIndex]"
                (loadstart)="toggleLoading(true)"
                (load)="toggleLoading(false)"
            />
            <div *ngIf="isLoadingImg" class="absolute w-full h-full bg-zinc-400 z-10"></div>
            <div *ngIf="isLoadingImg" class="absolute lds-facebook loader top-30 left-[40%] z-20">
                <div></div><div></div><div></div>
            </div>
        </div>
        <div
            *ngIf="currentImgIndex > 0"
            class="
                absolute
                top-0
                h-60
                w-12
                bg-gray-200
                opacity-50
                hover:bg-gray-300
                hover:opacity-100
                cursor-pointer
            "
            (click)="updateImgIndexValueByNumber(-1)"
        >
            <div class="absolute top-24 left-2 opacity-100">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="30" 
                    height="30" 
                    fill="currentColor" 
                    class="bi bi-arrow-left-circle-fill" 
                    viewBox="0 0 16 16"
                >
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </div>
        </div>
        <div
            *ngIf="currentImgIndex < (imgUrls.length - 1)"
            class="
                absolute
                top-0
                right-0
                h-60
                w-12
                opacity-50
                bg-gray-200
                hover:bg-gray-300
                hover:opacity-100
                cursor-pointer
            "
            (click)="updateImgIndexValueByNumber(1)"
        >
            <div class="absolute top-24 right-2 opacity-100">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="30" 
                    height="30" 
                    fill="currentColor" 
                    class="bi bi-arrow-right-circle-fill" 
                    viewBox="0 0 16 16"
                >
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
