<section 
    class="
        grid grid-cols-1
        md:grid-cols-2
        bg-slate-800
        py-8
        justify-items-center
    "
>
    <div class="col-span-1 w-full flex justify-center">
        <div
            class="
                flex
                text-white text-center
                rounded-lg
            "
        >
            <div class="p-4 text-white text-xl leading-8">
                <p>
                    Hello and welcome to my website! I'm
                </p>
                <p class="text-5xl hidden md:inline">
                    Carlos Chaves,
                </p>
                <p class="md:hidden flex justify-center items-center">
                    <span class="text-5xl">
                        <p>Carlos</p>
                        <p>Chaves,</p>
                    </span>
                    <span class="text-9xl">🧑🏽‍💻</span>
                </p>
                <p>
                    a web developer passionate about
                    coding, math, physics and solving problems.
                    Come in and make yourself at home 😀
                </p>
            </div>
        </div>
    </div>
    <div class="col-span-1 text-center w-full hidden md:inline">
        <span class="text-9xl">🧑🏽‍💻</span>
    </div>
    <div class="col-span-2 text-center text-white w-full">
        <span class="text-2xl">
            What do you want to know about me?
        </span>
        <div 
            class="
                mt-2
                grid grid-cols-1
                md:grid-cols-3
                md:gap-2
                gap-y-2
            "
        >
            <a 
                href="/curriculum-vitae"
                class="
                    border border-white p-4 rounded-lg
                    hover:bg-white hover:text-slate-800 hover:border-slate-800
                "
            >
                Let me know more about your qualifications and experience
            </a>
            <a
                href="/side-projects"
                class="
                    border border-white p-4 rounded-lg
                    hover:bg-white hover:text-slate-800 hover:border-slate-800
                "
            >
                Let me know more about projects you've built
            </a>
            <a
                href="/about-me"
                class="
                    border border-white p-4 rounded-lg
                    hover:bg-white hover:text-slate-800 hover:border-slate-800
                "
            >
                Let me know more about you
            </a>
        </div>
    </div>
</section>
<section class="flex justify-center">
    <div class="mt-4">
        <div class="text-center">
            <h2 class="font-bold text-3xl">You can also find me on:</h2>
        </div>
        <div 
            class="
                grid
                sm:grid-cols-1
                md:grid-cols-2 md:grid-rows-2 md:gap-2
                lg:grid-cols-2 lg:grid-rows-2 lg:gap-3
            "
        >
            <div class="row-span-2 self-center">
                <iframe src="https://cachaves93.github.io/" width="350" height="290"></iframe>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/cachaves93">
                    <img
                        src="../../../assets/GitHub-Emblem.png"
                        width="300"
                    />
                </a>
            </div>
            <div>
                <a
                    target="blank"
                    href="https://stackoverflow.com/users/10996466/carlos-chaves"
                >
                    <img 
                        src="https://stackoverflow.com/users/flair/10996466.png?theme=dark" 
                        width="260" 
                        height="72.5"
                        alt="profile for Carlos Chaves at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
                        title="profile for Carlos Chaves at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                    >
                </a>
            </div>
        </div>
    </div>
</section>