<section 
    class="
        flex flex-col
        md:flex-row
        justify-around
        bg-slate-800
        py-8
        
    "
>
    <div class="w-full flex justify-center">

        <div
            class="
                flex
                text-white text-center
                rounded-lg 
                max-w-screen-md
            "
        >
            <div class="p-4 text-white text-xl leading-8">
                <p>
                    Hello and welcome to my website! I'm
                </p>
                <p class="text-8xl">
                    Carlos Chaves,
                </p>
                <p>
                    a web developer passionate about
                    coding, math, physics and solving problems.
                    In this website you will find more about
                    my life and my work.
                </p>
                <p>
                    Come in and make yourself at home 😀
                </p>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-center">
        <img class="border-8 border-white z-10" src="../../../assets/20210130_161453.jpg" />
        <div class="img--background-effect"></div>
    </div>
</section>
<section class="flex justify-center">
    <div class="mt-4">
        <div class="text-center">
            <h2 class="font-bold text-3xl">You can also find me on:</h2>
        </div>
        <div 
            class="
                grid
                sm:grid-cols-1
                md:grid-cols-2 md:grid-rows-2 md:gap-2
                lg:grid-cols-2 lg:grid-rows-2 lg:gap-3
            "
        >
            <div class="row-span-2 self-center">
                <iframe src="https://cachaves93.github.io/" width="335" height="263"></iframe>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/cachaves93">
                    <img
                        src="../../../assets/GitHub-Emblem.png"
                        width="300"
                    />
                </a>
            </div>
            <div>
                <a
                    target="blank"
                    href="https://stackoverflow.com/users/10996466/carlos-chaves"
                >
                    <img 
                        src="https://stackoverflow.com/users/flair/10996466.png?theme=dark" 
                        width="260" 
                        height="72.5"
                        alt="profile for Carlos Chaves at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
                        title="profile for Carlos Chaves at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                    >
                </a>
            </div>
        </div>
    </div>
</section>